.data-table
{
    border-collapse: collapse;
}
.data
{
    text-align: center  ;
    margin-bottom: 1cm;
}
.header-class
{
    background-color: black;
    color: white;


body {
    overflow-x: hidden;
}

.forms {
    text-align: center;
    margin-bottom: 1cm;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    gap: 10px;
}

input {
    background-color: blue;
    color: aliceblue;
}

button {
    background-color: orange;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    /* margin-inline-end: 1cm; */
}

.buttons{
    display: flex;
    gap: 1cm;
}

.text-source:hover {
    color: blue;
}

/* TASK5 */

body {
    overflow-x: hidden;
}

.author {
    text-align: center;
    margin-bottom: 1cm;
}

.author-list {
    display: flex;
    justify-content: center;
    border: 3px solid pink;
    max-width: fit-content;
    align-self: center;

}

.author-list ol li {
    font-weight: bold;
}