.data-table
{
    border-collapse: collapse;
}
.data
{
    text-align: center  ;
    margin-bottom: 1cm;
}
.header-class
{
    background-color: black;
    color: white;

}

body {
    overflow-x: hidden;
}

.forms {
    text-align: center;
    margin-bottom: 1cm;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    gap: 10px;
}

input {
    background-color: blue;
    color: aliceblue;
}

button {
    background-color: orange;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    /* margin-inline-end: 1cm; */
}

.buttons{
    display: flex;
    gap: 1cm;
}
input::selection, textarea::selection {
    background-color: orange;
    color: white;
}
/*TASK3*/
body {
    overflow-x: hidden;
}

.images {
    text-align: center;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1cm;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    border: 5px dashed aquamarine;
    border-radius: 8px;
}
/*TASK3*/
